* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float-left {
  float: left;
}
#sect-two {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: green;
}
#col-left {
  background: #161400;

}
#col-right {
  background: yellow;
}
#col-left  a {
  color: white;
  margin-bottom: 15%;

}
#col-left li {
  margin-bottom: 10%;
  margin-left: 5%;
}
