* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float-left {
  float: left;
}
#firstcont {
  width: 100vw;
  height: 100vh;
  background: blue;
}
#cont_left {
  width: 20%;
  height:100%;
  background: green;
}
.menusx {
  display: flex;
  flex-direction: column;
  background: #161400;
  height: calc(100% - 100px);
  /* justify-content: space-around; */

}
#logo {
  width: 70%;
  margin-left: 5%;
  margin-top: 5%;
}
/* #lente {
  flex-grow: 2;
} */
.link {
  display: flex;
  flex-direction: column;
  margin-bottom: 40%;
  color: white;
}
.link > a {
  color: white;
}
.conticon {
 margin-top: 20%;
 margin-bottom: 20%;
}

.iconesx {
  color: white;
  /* flex-shrink: 8; */
}
.account {
  color: white;
  margin-top: 100%;

}
.linewhite {
  border-top: 1px solid white;
  width: 70%;
  margin-left: 15%;
}
